body{
    background-color: white;
    text-align: center;}
header{
  inline-size: auto;
}
h1{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
font-size: larger;
}
a:link, a:visited {
    background-color: rgb(255, 0, 0);
    color:rgb(0, 0, 0);
    display: none;
  }
  

