body{
    background-color: white;
    text-align: center;}

h1{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
font-size: larger;
}
a:link, a:visited {
    background-color: rgb(255, 0, 0);
    color:rgb(0, 0, 0);
    display: none;
  }
#opc{
    margin: 2px;
    padding-left: 2px;
}
  

