body{
    background-color: white;
    text-align: center;}
h1{
    color:crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
font-size: larger;
}
a:link, a:visited {
    background-color: white;
    color:rgb(0, 0, 0);
    border: 2px solid rgb(136, 136, 136);
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:rgb(129, 255, 249);
    color: white;
  }
